<a href="https://colab.research.google.com/github/25041033Joshua/Probabilidad-y-estadistica/blob/main/unidad1/Copia_de_Practica_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Probabilidad y estadistica

##Unidad 1

##Facilitador:Jose Gabriel Rodriguez Rivas

#Alumno:Joshua Josey García Hernández

#Practica 3: Tablas de Frecuencia

In [ ]:
#basado en el LIBRO estadistiaca para administrarcion pagina 12
#creamos una lista vacia que representa la edad de 100 personas
import random
edades=[]
#Hacemos un ciclo para generar 100 numeros aleatorios que representan la edad de las personas
for i in range(100):
  #generamos un numero aleatorio con la funcion randint y lo guardamos en la variable
  #numero_aleatorio
  numero_aleatorio=random.randint(18,70)
  #Agregamos el numero aleatorio a la lista de valores
  edades.append(numero_aleatorio)
#imprimimos la lista de edades
print(edades)

[39, 27, 37, 63, 50, 18, 22, 40, 19, 32, 59, 61, 53, 29, 55, 32, 21, 26, 51, 20, 64, 28, 53, 67, 52, 32, 70, 22, 35, 23, 46, 32, 67, 49, 27, 24, 32, 20, 61, 28, 61, 62, 40, 59, 35, 67, 67, 57, 20, 19, 64, 23, 37, 28, 44, 54, 49, 35, 60, 29, 61, 65, 52, 62, 41, 64, 38, 18, 20, 38, 57, 21, 47, 70, 54, 69, 26, 34, 66, 42, 25, 18, 38, 49, 18, 66, 24, 70, 26, 66, 27, 67, 31, 48, 41, 58, 29, 18, 45, 38]

In [ ]:
import pandas as pd

In [ ]:
#Crear un DataFrame de pandas con los números aleatorios
df=pd.DataFrame(edades,columns=['Edad'])
df.head()

   Edad
0    39
1    27
2    37
3    63
4    50

In [ ]:
#Calcular la tabla de distribucion de frecuencias
tabla_frecuencias=df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns=['Edad','Frecuencia']
tabla_frecuencias=tabla_frecuencias.sort_values(by='Edad')

#Imprimir la tabla de distribución de frecuencias
print("Tabla de Distribución de Frecuencias:")
tabla_frecuencias

Tabla de Distribución de Frecuencias:

    Edad  Frecuencia
0     18           5
21    19           2
3     20           4
25    21           2
24    22           2
26    23           2
28    24           2
42    25           1
7     26           3
6     27           3
10    28           3
12    29           3
43    31           1
1     32           5
40    34           1
8     35           3
23    37           2
4     38           4
32    39           1
19    40           2
15    41           2
41    42           1
38    44           1
46    45           1
33    46           1
37    47           1
44    48           1
9     49           3
29    50           1
34    51           1
18    52           2
20    53           2
16    54           2
31    55           1
27    57           2
45    58           1
22    59           2
36    60           1
5     61           4
17    62           2
30    63           1
11    64           3
35    65           1
14    66           3
2     67           5
39    69           1
13    70           3

In [ ]:
tabla_frecuencias['Frec Relativa']=tabla_frecuencias['Frecuencia']/100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
0     18           5           0.05
21    19           2           0.02
3     20           4           0.04
25    21           2           0.02
24    22           2           0.02
26    23           2           0.02
28    24           2           0.02
42    25           1           0.01
7     26           3           0.03
6     27           3           0.03
10    28           3           0.03
12    29           3           0.03
43    31           1           0.01
1     32           5           0.05
40    34           1           0.01
8     35           3           0.03
23    37           2           0.02
4     38           4           0.04
32    39           1           0.01
19    40           2           0.02
15    41           2           0.02
41    42           1           0.01
38    44           1           0.01
46    45           1           0.01
33    46           1           0.01
37    47           1           0.01
44    48           1           0.01
9     49           3           0.03
29    50           1           0.01
34    51           1           0.01
18    52           2           0.02
20    53           2           0.02
16    54           2           0.02
31    55           1           0.01
27    57           2           0.02
45    58           1           0.01
22    59           2           0.02
36    60           1           0.01
5     61           4           0.04
17    62           2           0.02
30    63           1           0.01
11    64           3           0.03
35    65           1           0.01
14    66           3           0.03
2     67           5           0.05
39    69           1           0.01
13    70           3           0.03

In [ ]:
tabla_frecuencias['Frec Porcentual']=tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
0     18           5           0.05              5.0
21    19           2           0.02              2.0
3     20           4           0.04              4.0
25    21           2           0.02              2.0
24    22           2           0.02              2.0
26    23           2           0.02              2.0
28    24           2           0.02              2.0
42    25           1           0.01              1.0
7     26           3           0.03              3.0
6     27           3           0.03              3.0
10    28           3           0.03              3.0
12    29           3           0.03              3.0
43    31           1           0.01              1.0
1     32           5           0.05              5.0
40    34           1           0.01              1.0
8     35           3           0.03              3.0
23    37           2           0.02              2.0
4     38           4           0.04              4.0
32    39           1           0.01              1.0
19    40           2           0.02              2.0
15    41           2           0.02              2.0
41    42           1           0.01              1.0
38    44           1           0.01              1.0
46    45           1           0.01              1.0
33    46           1           0.01              1.0
37    47           1           0.01              1.0
44    48           1           0.01              1.0
9     49           3           0.03              3.0
29    50           1           0.01              1.0
34    51           1           0.01              1.0
18    52           2           0.02              2.0
20    53           2           0.02              2.0
16    54           2           0.02              2.0
31    55           1           0.01              1.0
27    57           2           0.02              2.0
45    58           1           0.01              1.0
22    59           2           0.02              2.0
36    60           1           0.01              1.0
5     61           4           0.04              4.0
17    62           2           0.02              2.0
30    63           1           0.01              1.0
11    64           3           0.03              3.0
35    65           1           0.01              1.0
14    66           3           0.03              3.0
2     67           5           0.05              5.0
39    69           1           0.01              1.0
13    70           3           0.03              3.0

In [ ]:
tabla_frecuencias['Frec Acumulada']=tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
0     18           5           0.05              5.0               5
21    19           2           0.02              2.0               7
3     20           4           0.04              4.0              11
25    21           2           0.02              2.0              13
24    22           2           0.02              2.0              15
26    23           2           0.02              2.0              17
28    24           2           0.02              2.0              19
42    25           1           0.01              1.0              20
7     26           3           0.03              3.0              23
6     27           3           0.03              3.0              26
10    28           3           0.03              3.0              29
12    29           3           0.03              3.0              32
43    31           1           0.01              1.0              33
1     32           5           0.05              5.0              38
40    34           1           0.01              1.0              39
8     35           3           0.03              3.0              42
23    37           2           0.02              2.0              44
4     38           4           0.04              4.0              48
32    39           1           0.01              1.0              49
19    40           2           0.02              2.0              51
15    41           2           0.02              2.0              53
41    42           1           0.01              1.0              54
38    44           1           0.01              1.0              55
46    45           1           0.01              1.0              56
33    46           1           0.01              1.0              57
37    47           1           0.01              1.0              58
44    48           1           0.01              1.0              59
9     49           3           0.03              3.0              62
29    50           1           0.01              1.0              63
34    51           1           0.01              1.0              64
18    52           2           0.02              2.0              66
20    53           2           0.02              2.0              68
16    54           2           0.02              2.0              70
31    55           1           0.01              1.0              71
27    57           2           0.02              2.0              73
45    58           1           0.01              1.0              74
22    59           2           0.02              2.0              76
36    60           1           0.01              1.0              77
5     61           4           0.04              4.0              81
17    62           2           0.02              2.0              83
30    63           1           0.01              1.0              84
11    64           3           0.03              3.0              87
35    65           1           0.01              1.0              88
14    66           3           0.03              3.0              91
2     67           5           0.05              5.0              96
39    69           1           0.01              1.0              97
13    70           3           0.03              3.0             100